<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>C</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"> <!--This is a public css-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--This is a bootstrap css to design bootstrap component as our requriments-->
    <link rel="stylesheet" href="/css/everywhere.css">
    <!--This is a css for not overwritting css for every component once you decelare a css is same for every components as our requriments-->
</head>

<body>
    <div class="second">
        <button onclick="toggleMode(), toggleImage()" id="dark_light"><img
                src="https://cdn-icons-png.flaticon.com/128/4489/4489231.png" alt="" class="mode_icons"
                id="buttonImage"></button>
    </div>

    <!-- <div class="normal_heading_box"> -->

    <!-- beginner level -->
    <div class="normal_heading_box">
        <h4 class="same_heading">Learn Full C Programming Language</h4>
        <img src="https://cdn-icons-png.flaticon.com/128/3665/3665923.png" alt="" class="big_icons">


        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Beginner Level</h4>
        <li>
            <h6 class="same_heading">Basics of Programming : </h6>
            <h6 class="language_para">Understand basic programming concepts such as variables, data
                types,
                operators, expressions, and basic control structures (if-else, loops)</h6>
        </li>
        <li>
            <h6 class="same_heading">Learn C Fundamentals : </h6>
            <h6 class="language_para">Syntax, basic input/output (cin, cout), functions, and how to
                structure a C++ program.</h6>
        </li>
        <li>
            <h6 class="same_heading">Pointers and Memory Management : </h6>
            <h6 class="language_para">Gain a deep understanding of pointers, memory allocation, dynamic memory
                allocation (malloc, calloc), and memory deallocation (free).</h6>
        </li>
        <li>
            <h6 class="same_heading">Structures and Unions : </h6>
            <h6 class="language_para">Learn about structures and unions, their syntax, uses, and differences.</h6>
        </li>
        <li>
            <h6 class="same_heading">File Handling : </h6>
            <h6 class="language_para">Understand file operations, such as opening, reading, writing, and closing files.
            </h6>
        </li>
    </div>

    <!-- Intermediate level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Intermediate Level</h4>
        <li>
            <h6 class="same_heading">Advanced Data Structures : </h6>
            <h6 class="language_para">Explore more complex data structures like linked lists, stacks, queues, trees, and
                graphs.</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced Concepts : </h6>
            <h6 class="language_para">Dive into more complex topics like pointers to functions, function pointers,
                bitwise operations, and preprocessor directives.</h6>
        </li>
        <li>
            <h6 class="same_heading">Error Handling and Debugging : </h6>
            <h6 class="language_para">Learn about handling errors, debugging techniques, and using tools like gdb.</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced File Handling : </h6>
            <h6 class="language_para">Explore advanced file operations, handling binary files, random access files, and
                error handling during file operations.
            </h6>
        </li>

    </div>

    <!-- Advance level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Advanced Level</h4>
        <li>
            <h6 class="same_heading">Advanced Techniques and Optimization : </h6>
            <h6 class="language_para">Master advanced techniques for code optimization, algorithm design, and enhancing
                code efficiency.</h6>
        </li>
        <li>
            <h6 class="same_heading">C Libraries and APIs : </h6>
            <h6 class="language_para">Explore standard C libraries and APIs (like Standard Template Library in C++,
                POSIX library for system calls, etc.) to expand your programming capabilities.</h6>
        </li>
        <li>
            <h6 class="same_heading">Project Work and Practice : </h6>
            <h6 class="language_para">Engage in practical projects to implement what you've learned.
                Participate in coding challenges, contribute to open-source projects, or create your own applications
                using C.</h6>
        </li>
        <li>
            <h6 class="same_heading">Understanding Advanced Topics : </h6>
            <h6 class="language_para">If interested, explore more specialized areas like network programming,
                multithreading, system programming, etc.</h6>
        </li>
    </div>

    <!-- syntax of c++ -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/2490/2490396.png" alt=""
                class="same_icons"> Full Course of C language in Free</h4>
        <h6 class="language_para">Here are the best courses from top-notch YouTubers who have cracked into FANG
            companies like Amazon, Microsoft, and Flipkart. Learn directly from them; these courses are absolutely free
            of cost. If you think they're free, you might assume their quality is lower than paid courses, but trust me,
            these courses exceed your expectations. Learn, practice, and rest assured, we're here to guide and assist
            you at every step. Don't waste any more time—go, learn, and we'll provide timely updates for a better
            future.</h6>
    </div>

    <div class="normal_heading_box">
        <h6 class="language_heading">Learn Full C from Apna College</h6>
        <h6 class="language_para"> C Language Tutorial for Beginners (with Notes & Practice Questions)</h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/irqbmMNs2Bo?si=hnQR8cTJdj7z67sl"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full C from Code With Harry</h6>
        <h6 class="language_para">C Language Tutorial For Beginners In Hindi (With Notes) </h6>
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/ZSPZob_1TOk?si=L-w8oTMcGV_tVH66"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full C from freeCodeCamp</h6>
        <h6 class="language_para">C++ Programming Course - Beginner to Advanced
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/8jLOx1hD3_o?si=ABrNy2fnNH-A2u2D"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Here Are Some Paid Course Also, </h6>
        <img src="https://www.udemy.com/frontends-marketplace-experience/staticx/udemy/images/v7/logo-udemy.svg" alt=""
            class="big_icons">
        <h6 class="same_heading"><a href="https://www.udemy.com/topic/c-programming/">C (programming language) Courses
                by Udemy</a></h6>
    </div>

    <div class="normal_heading_box">
        <img src="https://seekvectorlogo.com/wp-content/uploads/2022/02/coursera-vector-logo-2022-small.png" alt=""
            class="big_icons">
        <h6 class="language_heading">Coursera</h6>
        <h6 class="same_heading"><a href="https://www.coursera.org/courses?query=c%20programming">Learn C Programming
                Online </a></h6>

    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Here are some links to learn C</h6>
        <img src="https://media.geeksforgeeks.org/gfg-gg-logo.svg" alt="" class="big_icons">
        <h6 class="language_para">Learn C From geeksforgeeks Copy this link and open it on
            Chrome<br>https://www.geeksforgeeks.org/c-programming-language/</h6>
    </div>

    <div class="normal_heading_box">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/w3schools-logo-icon.png"
            alt="" class="big_icons">
        <h6 class="language_para">Learn C From w3schools Copy this link and open it on Chrome <br>
            https://www.w3schools.com/c/</h6>
    </div>



    <script src="/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>