<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>C++</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"> <!--This is a public css-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--This is a bootstrap css to design bootstrap component as our requriments-->
    <link rel="stylesheet" href="/css/everywhere.css">
    <!--This is a css for not overwritting css for every component once you decelare a css is same for every components as our requriments-->
</head>

<body>
    <div class="second">
        <button onclick="toggleMode(), toggleImage()" id="dark_light"><img
                src="https://cdn-icons-png.flaticon.com/128/4489/4489231.png" alt="" class="mode_icons"
                id="buttonImage"></button>
    </div>

    <!-- <div class="normal_heading_box"> -->

    <!-- beginner level -->
    <div class="normal_heading_box">
        <h4 class="same_heading">Learn Full C++ Programming Language</h4>
        <img src="https://cdn-icons-png.flaticon.com/128/6132/6132222.png" alt="" class="big_icons">


        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Beginner Level</h4>
        <li>
            <h6 class="same_heading">Basics of Programming : </h6>
            <h6 class="language_para">Understand basic programming concepts such as variables, data
                types,
                operators, expressions, and basic control structures (if-else, loops)</h6>
        </li>
        <li>
            <h6 class="same_heading">Learn C++ Fundamentals : </h6>
            <h6 class="language_para">Syntax, basic input/output (cin, cout), functions, and how to
                structure a C++ program.</h6>
        </li>
        <li>
            <h6 class="same_heading">Data Structures : </h6>
            <h6 class="language_para">Arrays, strings, and fundamental data structures like arrays,
                vectors,
                and linked lists.</h6>
        </li>
        <li>
            <h6 class="same_heading">Object-Oriented Programming (OOPS) : </h6>
            <h6 class="language_para">Classes and Objects, Inheritance, Polymorphism, Encapsulation, and
                Abstraction.</h6>
        </li>
        <li>
            <h6 class="same_heading">Memory Management : </h6>
            <h6 class="language_para">Pointers, memory allocation/deallocation (new/delete,
                malloc/free),
                and understanding memory-related issues.</h6>
        </li>
    </div>

    <!-- Intermediate level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Intermediate Level</h4>
        <li>
            <h6 class="same_heading">Advanced OOP : </h6>
            <h6 class="language_para">Advanced inheritance, polymorphism, operator overloading,
                templates,
                and exception handling.</h6>
        </li>
        <li>
            <h6 class="same_heading">File Handling : </h6>
            <h6 class="language_para">Input/Output operations with files, streams, and manipulating file
                data.</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced Data Structures and Algorithms : </h6>
            <h6 class="language_para">Trees, graphs, hash tables, sorting algorithms, searching
                algorithms,
                and their implementation.</h6>
        </li>
        <li>
            <h6 class="same_heading">Concurrency and Multithreading : </h6>
            <h6 class="language_para">Learn about threading, synchronization, mutexes, and managing
                concurrent processes.</h6>
        </li>
        <li>
            <h6 class="same_heading">Smart Pointers : </h6>
            <h6 class="language_para">Understanding and using smart pointers (unique_ptr, shared_ptr)
                for
                better memory management.</h6>
        </li>
    </div>

    <!-- Advance level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Advanced Level</h4>
        <li>
            <h6 class="same_heading">Advanced STL and Boost Library : </h6>
            <h6 class="language_para">Explore advanced features of the Standard Template Library and
                consider diving into the Boost C++ Libraries for additional functionalities.</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced C++ Features : </h6>
            <h6 class="language_para">C++11, C++14, C++17, C++20, and later versions' features like lambda
                expressions, move semantics, concepts, and more.</h6>
        </li>
        <li>
            <h6 class="same_heading">Networking and GUI Development : </h6>
            <h6 class="language_para">Learn about networking libraries, GUI frameworks (like Qt), and how to
                create graphical applications.</h6>
        </li>
        <li>
            <h6 class="same_heading">Embedded C++ : </h6>
            <h6 class="language_para">If interested in embedded systems, delve into topics related to
                embedded C++, working with microcontrollers, and low-level programming</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced Topics : </h6>
            <h6 class="language_para">Design patterns, advanced algorithms, compiler optimizations, and
                specific domains like game development, finance, etc.</h6>
        </li>
    </div>

    <!-- syntax of c++ -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/2490/2490396.png" alt=""
                class="same_icons"> Full Course of C++ language in Free</h4>
        <h6 class="language_para">Here are the best courses from top-notch YouTubers who have cracked into FANG
            companies like Amazon, Microsoft, and Flipkart. Learn directly from them; these courses are absolutely free
            of cost. If you think they're free, you might assume their quality is lower than paid courses, but trust me,
            these courses exceed your expectations. Learn, practice, and rest assured, we're here to guide and assist
            you at every step. Don't waste any more time—go, learn, and we'll provide timely updates for a better
            future.</h6>
    </div>

    <div class="normal_heading_box">
        <h6 class="language_heading">Learn Full C++ from CodeHelp - by Babbar</h6>
        <h6 class="language_para"> Learn C++ Language & Data Structures & Algorithms - by Love Babbar</h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/WQoB2z67hvY?si=oT13cX_Pugj8fwTK"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full C++ from Apna College</h6>
        <h6 class="language_para">C++ Full Course | C++ Tutorial | Data Structures & Algorithms</h6>
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/z9bZufPHFLU?si=b8YojAadaQKh4Cz9"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full C++ from Code With Haryy</h6>
        <h6 class="language_para">Introduction to C++, Installing VS Code, g++ & more | C++ Tutorials for Beginners #1
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/j8nAHeVKL08?si=WCWX_5QCI4W9F1iH"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Free C++ Course By Scaler Academy</h6>
        <img src="https://assets-v2.scaler.com/assets/scaler/svg/scaler-logo-new-15cddca2e0196e677600f6671b42a288bdc89c398adc29fe82b7441503c4b129.svg.gz"
            alt="" class="big_icons" alt="" class="big_icons">
        <h6 class="same_heading"><a href="https://www.scaler.com/topics/course/cpp-beginners/">C++ Course: Learn the
                Essentials</a></h6>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Here Are Some Paid Course Also, </h6>
        <img src="https://www.udemy.com/frontends-marketplace-experience/staticx/udemy/images/v7/logo-udemy.svg" alt=""
            class="big_icons">
        <h6 class="same_heading"><a
                href="https://www.udemy.com/topic/c-plus-plus/?utm_source=adwords&utm_medium=udemyads&utm_campaign=CPlusPlus_v.PROF_la.EN_cc.INDIA_ti.4908&utm_content=deal4584&utm_term=_._ag_82581780405_._ad_670113610965_._kw_c%20training%20online_._de_c_._dm__._pl__._ti_kwd-299968915136_._li_9075377_._pd__._&matchtype=b&gad_source=1&gclid=Cj0KCQiAhc-sBhCEARIsAOVwHuSdlFuRYLNtfW8slin5GS7BJRqfRcABjcLlEtwC4RANYES1G-WO-L8aAtT8EALw_wcB">C++
                (programming language) Courses By Udemy</a></h6>
    </div>

    <div class="normal_heading_box">
        <img src="https://files.codingninjas.in/new_cn_logo-29829.svg" alt="" class="big_icons">
        <h6 class="language_heading">codingninjas</h6>
        <h6 class="same_heading"><a
                href="https://www.codingninjas.com/c-plus-plus-data-structures-and-algorithms?utm_source=google&utm_medium=%5Bsearch%5D&utm_campaign=17201965804_144940400804_e_c%2B%2B%20online%20course__633776914731_c____9075377&gad_source=1&gclid=Cj0KCQiAhc-sBhCEARIsAOVwHuRHCTHPkURVm7o8Z27v__b3XrNaqURQtW6vcqGgfs9VrRDTlGdCKKgaAiteEALw_wcB">Basics
                of C++ with Data Structures and Algorithms [updated in 2023]</a></h6>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Here are some links to learn C++</h6>
        <img src="https://media.geeksforgeeks.org/gfg-gg-logo.svg" alt="" class="big_icons">
        <h6 class="language_para">Learn C++ From geeksforgeeks Copy this link and open it on
            Chrome<br>https://www.geeksforgeeks.org/c-plus-plus/</h6>
    </div>

    <div class="normal_heading_box">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/w3schools-logo-icon.png"
            alt="" class="big_icons">
        <h6 class="language_para">Learn C++ From w3schools Copy this link and open it on Chrome <br>
            https://www.w3schools.com/cpp/</h6>
    </div>


    <div class="normal_heading_box">
        <h5 class="same_heading">So What Can I Do After C++ ?</h5>
        <img src="https://cdn-icons-png.flaticon.com/128/1819/1819928.png" alt="" class="big_icons">
        <li>
            <h6 class="same_heading">Software Developer/Engineer : </h6>
            <h6 class="language_para">You can work as a software developer/engineer specializing in C++ programming,
                developing applications, systems software, or embedded software.</h6>
        </li>
        <li>
            <h6 class="same_heading">Game Developer : </h6>
            <h6 class="language_para">You can venture into game development using C++ as many game engines like Unreal
                Engine and some parts of game development are heavily reliant on C++ programming.</h6>
        </li>
        <li>
            <h6 class="same_heading">System Programmer : </h6>
            <h6 class="language_para">This involves working on the low-level programming aspects of an operating system
                or firmware development where C++ is utilized.</h6>
        </li>
        <li>
            <h6 class="same_heading">Algorithm Developer : </h6>
            <h6 class="language_para">You can work on designing and implementing complex algorithms for various
                applications and systems.</h6>
        </li>
        <li>
            <h6 class="same_heading">Firmware Engineer : </h6>
            <h6 class="language_para">This role involves working on the software embedded in hardware devices, where C++
                is commonly used for low-level programming.</h6>
        </li>
        <li>
            <h6 class="same_heading">Quantitative Analyst/Developer : </h6>
            <h6 class="language_para">In the finance industry, particularly in algorithmic trading or risk analysis,
                proficiency in C++ is highly valued.
            </h6>
        </li>
        <div class="youtube_video">
            <h6 class="language_heading">C or C++ | What coding language should you learn ?</h6>
            <iframe src="https://www.youtube.com/embed/_FFRRMEXdBU?si=txgXRrT7tJnVZ2nM" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>




    <script src="/js/script1.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>