<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>python</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"> <!--This is a public css-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--This is a bootstrap css to design bootstrap component as our requriments-->
    <link rel="stylesheet" href="/css/everywhere.css">
    <!--This is a css for not overwritting css for every component once you decelare a css is same for every components as our requriments-->
</head>

<body>
    <div class="second">
        <button onclick="toggleMode(), toggleImage()" id="dark_light"><img
                src="https://cdn-icons-png.flaticon.com/128/4489/4489231.png" alt="" class="mode_icons"
                id="buttonImage"></button>
    </div>

    <!-- <div class="normal_heading_box"> -->

    <!-- beginner level -->
    <div class="normal_heading_box">
        <h4 class="same_heading">Learn Full Python Programming Language</h4>
        <img src="https://cdn-icons-png.flaticon.com/128/5968/5968350.png" alt="" class="big_icons">


        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Beginner Level</h4>
        <li>
            <h6 class="same_heading">Introduction to Python : </h6>
            <h6 class="language_para">Learn Python syntax, basic input/output (print, input), and how to structure
                Python programs.</h6>
        </li>
        <li>
            <h6 class="same_heading">Data Structures and Collections : </h6>
            <h6 class="language_para">Study basic data structures: lists, tuples, dictionaries, sets, and their usage in
                Python.</h6>
        </li>
        <li>
            <h6 class="same_heading">Control Structures : </h6>
            <h6 class="language_para">Learn about loops (for and while) and conditional statements (if-else) in Python.
            </h6>
        </li>
        <li>
            <h6 class="same_heading">Functions and Modules : </h6>
            <h6 class="language_para">Understand how to define and use functions, create modules, and import them into
                your programs.</h6>
        </li>
        <li>
            <h6 class="same_heading">File Handling : </h6>
            <h6 class="language_para">Learn to read from and write to files in Python using file objects and file
                handling techniques.</h6>
        </li>
        <li>
            <h6 class="same_heading"></h6>
            <h6 class="language_para"></h6>
        </li>
    </div>

    <!-- Intermediate level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Intermediate Level</h4>
        <li>
            <h6 class="same_heading">Advanced Data Structures : </h6>
            <h6 class="language_para">Dive deeper into advanced data structures like stacks, queues, and understand
                their implementations in Python.</h6>
        </li>
        <li>
            <h6 class="same_heading">Object-Oriented Programming (OOP) : </h6>
            <h6 class="language_para">Study classes, objects, inheritance, polymorphism, encapsulation, and abstraction
                in Python.</h6>
        </li>
        <li>
            <h6 class="same_heading">Error Handling (Exceptions) : </h6>
            <h6 class="language_para">Learn about handling exceptions using try-except blocks and how to raise custom
                exceptions.</h6>
        </li>
        <li>
            <h6 class="same_heading">Functional Programming : </h6>
            <h6 class="language_para">Understand functional programming concepts like lambda functions, map, filter, and
                reduce functions in Python.</h6>
        </li>
        <li>
            <h6 class="same_heading">Working with Libraries and Packages :

            </h6>
            <h6 class="language_para">Explore popular Python libraries and packages such as NumPy (for numerical
                computing), Pandas (for data manipulation), Matplotlib (for data visualization), etc.
            </h6>
        </li>
    </div>

    <!-- Advance level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Advanced Level</h4>
        <li>
            <h6 class="same_heading">Advanced OOP Concepts:</h6>
            <h6 class="language_para">Delve deeper into advanced OOP topics like decorators, abstract classes,
                metaclasses, etc.</h6>
        </li>
        <li>
            <h6 class="same_heading">Concurrency and Asynchronous Programming:</h6>
            <h6 class="language_para">Study concurrent programming using threads, multiprocessing, and asynchronous
                programming using async-await.</h6>
        </li>
        <li>
            <h6 class="same_heading">Web Development:</h6>
            <h6 class="language_para">Explore web development frameworks like Django or Flask for backend development or
                web APIs.</h6>
        </li>
        <li>
            <h6 class="same_heading">Data Science and Machine Learning:</h6>
            <h6 class="language_para">Learn about data manipulation, analysis, and machine learning using libraries like
                Scikit-learn, TensorFlow, or PyTorch.</h6>
        </li>
        <li>
            <h6 class="same_heading">Testing and Debugging:</h6>
            <h6 class="language_para">Understand testing methodologies (unit testing, integration testing) and debugging
                techniques in Python.</h6>
        </li>
        <li>
            <h6 class="same_heading">Deployment and Scalability:</h6>
            <h6 class="language_para">Learn about deploying Python applications, containerization (using Docker), and
                scaling applications for production.</h6>
        </li>
    </div>

    <!-- syntax of python -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/2490/2490396.png" alt=""
                class="same_icons"> Full Course of Python language in Free</h4>
        <h6 class="language_para">Here are the best courses from top-notch YouTubers who have cracked into FANG
            companies like Amazon, Microsoft, and Flipkart. Learn directly from them; these courses are absolutely free
            of cost. If you think they're free, you might assume their quality is lower than paid courses, but trust me,
            these courses exceed your expectations. Learn, practice, and rest assured, we're here to guide and assist
            you at every step. Don't waste any more time—go, learn, and we'll provide timely updates for a better
            future.</h6>
    </div>

    <div class="normal_heading_box">
        <h6 class="language_heading">Learn Full Python by Code With Harry</h6>
        <h6 class="language_para"> Python for Beginners (Full Course) | #100DaysOfCode Programming Tutorial in Hindi
            Python is one of the most demanded programming languages in the job market. Surprisingly, it is equally easy
            to learn and master Python. This python tutorial for absolute beginners in Hindi series will focus on
            teaching you python concepts from the ground up.</h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/7wnove7K-ZQ?si=WaHMD_Qe3CZiA4OS"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full Python by Code With Harry</h6>
        <h6 class="language_para">Learn Python One Video in Hindi: This Python Programming in Hindi tutorial is a
            complete python course in Hindi comprising of 13 Python chapters and 3 Python Projects. After watching this
            course you can learn Python programming easily in Hindi. This Python programming course for beginners in
            Hindi is designed keeping in mind the current trend and recent changes in Python. This course is designed to
            teach Python to beginners making it one of the best sources to learn python in Hindi for beginners. Get
            ready to learn python programming in a fun way and make sure to download the python notes which are included
            with this video. Hope you enjoy this course on python programming for beginners in Hindi.</h6>
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/gfDE2a7MKjA?si=jyxSZhaV7FUvOBKK"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full Python From WsCubeTech</h6>
        <h6 class="language_para">Complete Python Tutorial for Beginners to Advanced in Hindi 🔥
            In this part of the complete Python tutorial for beginners in Hindi, you will get to know about the history
            of Python and what is Python.
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/OZIRAavoGng?si=evLInMOuxfh0vjww"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full Python From WsCubeTech</h6>
        <h6 class="language_para">In this python full tutorial for beginners, you will learn python programming in a
            short period with this python crash course. Python is one of the most used programming languages in the
            industry. With this python tutorial for beginners, learn python for beginners to pro. We have explained
            everything from what is a python to how to learn python just with this python full course.
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/sCOw5y1RQpY?si=ul8ZOiderNqhAhgd"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Scaler Academy</h6>
        <img src="https://assets-v2.scaler.com/assets/scaler/svg/scaler-logo-new-15cddca2e0196e677600f6671b42a288bdc89c398adc29fe82b7441503c4b129.svg.gz"
            alt="" class="big_icons">
        <h6 class="same_heading"><a href="https://www.scaler.com/topics/course/python-for-beginners/">Python Course for
                Beginners With Certification: Mastering the Essentials</a></h6>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Here Are Some Paid Course Also, </h6>
        <img src="https://www.udemy.com/frontends-marketplace-experience/staticx/udemy/images/v7/logo-udemy.svg" alt=""
            class="big_icons">
        <h6 class="same_heading"><a href="https://www.udemy.com/topic/python/">Python Courses By Udemy</a></h6>
    </div>

    <div class="normal_heading_box">
        <img src="https://files.codingninjas.in/new_cn_logo-29829.svg" alt="" class="big_icons">
        <h6 class="language_heading">codingninjas</h6>
        <h6 class="same_heading"><a href="https://codingninjas.com/python-data-structures-and-algorithms">Basics of
                Python with Data Structures and Algorithms [updated in 2023]</a></h6>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Here are some links to learn C++</h6>
        <img src="https://media.geeksforgeeks.org/gfg-gg-logo.svg" alt="" class="big_icons">
        <h6 class="language_para">Learn Python From geeksforgeeks Copy this link and open it on
            Chrome<br>https://www.geeksforgeeks.org/python-programming-language/</h6>
    </div>

    <div class="normal_heading_box">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/w3schools-logo-icon.png"
            alt="" class="big_icons">
        <h6 class="language_para">Learn Python From w3schools Copy this link and open it on Chrome
            <br>https://www.w3schools.com/python/
        </h6>
    </div>

    <div class="normal_heading_box">
        <h5 class="same_heading">So What Can I Do After Advance Python ?</h5>
        <img src="https://cdn-icons-gif.flaticon.com/12340/12340771.gif" alt="" class="big_icons">
        <li>
            <h6 class="same_heading">Data Scientist/Data Analyst : </h6>
            <h6 class="language_para">Using Python for data analysis, manipulation, visualization, and machine learning.
                Average packages can range from INR 8-15 lakhs per annum for entry-level roles and can significantly
                increase with experience.</h6>
        </li>
        <li>
            <h6 class="same_heading">Machine Learning Engineer/Deep Learning Engineer : </h6>
            <h6 class="language_para">Applying Python to develop and deploy machine learning models, deep learning
                algorithms, and neural networks. Salaries might start from INR 10-20 lakhs per annum based on expertise
                and experience.</h6>
        </li>
        <li>
            <h6 class="same_heading">Python Developer/Software Engineer : </h6>
            <h6 class="language_para">Developing applications, backend systems, and software solutions using Python.
                Salaries can vary widely based on the organization, responsibilities, and experience, starting from INR
                6-12 lakhs per annum.</h6>
        </li>
        <li>
            <h6 class="same_heading">Full Stack Developer (Python) : </h6>
            <h6 class="language_para">Working on both front-end and back-end development using Python frameworks like
                Django or Flask. Salaries can range between INR 8-16 lakhs per annum depending on skills and experience.
            </h6>
        </li>
        <li>
            <h6 class="same_heading">DevOps Engineer : </h6>
            <h6 class="language_para">tilizing Python for automation, configuration management, and deployment in DevOps
                practices. The salary range can be around INR 8-18 lakhs per annum.</h6>
        </li>
        <li>
            <h6 class="same_heading">AI/ML Researcher : </h6>
            <h6 class="language_para">Conducting research in artificial intelligence, machine learning, and natural
                language processing using Python. Salaries can be higher, starting from INR 15 lakhs per annum and
                beyond, depending on the organization and expertise.</h6>
        </li>

        <div class="youtube_video">

        </div>
    </div>





    <script src="/js/script1.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>