<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RUST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"> <!--This is a public css-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--This is a bootstrap css to design bootstrap component as our requriments-->
    <link rel="stylesheet" href="/css/everywhere.css">
    <!--This is a css for not overwritting css for every component once you decelare a css is same for every components as our requriments-->
</head>

<body>
    <div class="second">
        <button onclick="toggleMode(), toggleImage()" id="dark_light"><img
                src="https://cdn-icons-png.flaticon.com/128/4489/4489231.png" alt="" class="mode_icons"
                id="buttonImage"></button>
    </div>

    <!-- <div class="normal_heading_box"> -->

    <!-- beginner level -->
    <div class="normal_heading_box">
        <h4 class="same_heading">Learn Full Rust Programming Language</h4>
        <img src="https://w7.pngwing.com/pngs/114/914/png-transparent-rust-programming-language-logo-machine-learning-haskell-crab-animals-cartoon-crab-thumbnail.png"
            alt="" class="big_icons">


        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Beginner Level</h4>
        <li>
            <h6 class="same_heading">Basics of Programming : </h6>
            <h6 class="language_para">Understand fundamental programming concepts like variables, data types, basic
                control flow (if-else, loops), and functions.</h6>
        </li>
        <li>
            <h6 class="same_heading">Introduction to Rust : </h6>
            <h6 class="language_para">Learn Rust syntax, variables, ownership, borrowing, and lifetimes - core concepts
                that differentiate Rust from other languages.</h6>
        </li>
        <li>
            <h6 class="same_heading">Data Types and Data Structures : </h6>
            <h6 class="language_para">Study Rust's data types such as integers, floats, booleans, strings, and complex
                data structures like arrays, vectors, slices, and enums.</h6>
        </li>
        <li>
            <h6 class="same_heading">Error Handling : </h6>
            <h6 class="language_para">Explore error handling mechanisms in Rust using Result and Option enums, along
                with the match control flow construct.</h6>
        </li>
        <li>
            <h6 class="same_heading">Functional Programming in Rust : </h6>
            <h6 class="language_para">Understand functional programming concepts in Rust, like iterators, closures, and
                the map, filter, and fold functions.</h6>
        </li>
        <li>
            <h6 class="same_heading">Modules and Packages : </h6>
            <h6 class="language_para">Learn about Rust's module system and how to organize code into modules and crates.
            </h6>
        </li>
    </div>

    <!-- Intermediate level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Intermediate Level</h4>
        <li>
            <h6 class="same_heading">Ownership and Borrowing : </h6>
            <h6 class="language_para">Deepen your understanding of Rust's ownership model, borrowing rules, and memory
                management to write safe and efficient code.</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced Data Structures : </h6>
            <h6 class="language_para">Explore more complex data structures like HashMaps, B-trees, and understand their
                implementations in Rust.</h6>
        </li>
        <li>
            <h6 class="same_heading">Concurrency and Multithreading : </h6>
            <h6 class="language_para">Study Rust's concurrency model, work with threads, and understand synchronization
                primitives like mutexes and channels.</h6>
        </li>
        <li>
            <h6 class="same_heading">Error Handling and Result Combinators : </h6>
            <h6 class="language_para">Dive deeper into error handling patterns, use Result combinators like map,
                and_then, etc., for more concise and expressive error handling.</h6>
        </li>
        <li>
            <h6 class="same_heading">Traits and Generics : </h6>
            <h6 class="language_para">Understand traits (similar to interfaces in other languages) and generics in Rust
                to write reusable and generic code.</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced Topics : </h6>
            <h6 class="language_para">Explore advanced topics like macros, unsafe Rust (carefully managing unsafe code),
                and interacting with foreign functions (FFI).</h6>
        </li>
    </div>

    <!-- Advance level -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt=""
                class="same_icons"> Advanced Level</h4>
        <li>
            <h6 class="same_heading">Advanced Concurrency Patterns : </h6>
            <h6 class="language_para">Explore more complex concurrency patterns like async/await, using libraries like
                tokio for asynchronous programming.</h6>
        </li>
        <li>
            <h6 class="same_heading">Systems Programming : </h6>
            <h6 class="language_para">Learn about low-level systems programming in Rust, interacting with hardware, and
                writing system-level software.</h6>
        </li>
        <li>
            <h6 class="same_heading">Advanced Error Handling : </h6>
            <h6 class="language_para">Master advanced error handling techniques like custom error types, error chaining,
                and working with complex error scenarios.</h6>
        </li>
        <li>
            <h6 class="same_heading">Performance Optimization : </h6>
            <h6 class="language_para">Dive into profiling Rust code, optimizing performance, and utilizing Rust's memory
                management to write highly efficient code.</h6>
        </li>
        <li>
            <h6 class="same_heading">Unsafe Rust : </h6>
            <h6 class="language_para">Learn to use unsafe Rust judiciously, understanding its implications and following
                best practices.</h6>
        </li>
        <li>
            <h6 class="same_heading">Contributing to the Rust Ecosystem : </h6>
            <h6 class="language_para">Consider contributing to open-source Rust projects, libraries, or crates, and
                actively engage with the Rust community to gain expertise.</h6>
        </li>
    </div>

    <!-- syntax of rust -->
    <div class="normal_heading_box">
        <h4 class="language_heading"><img src="https://cdn-icons-png.flaticon.com/128/2490/2490396.png" alt=""
                class="same_icons"> Full Course of Rust language in Free</h4>
        <h6 class="language_para">Here are the best courses from top-notch YouTubers who have cracked into FANG
            companies like Amazon, Microsoft, and Flipkart. Learn directly from them; these courses are absolutely free
            of cost. If you think they're free, you might assume their quality is lower than paid courses, but trust me,
            these courses exceed your expectations. Learn, practice, and rest assured, we're here to guide and assist
            you at every step. Don't waste any more time—go, learn, and we'll provide timely updates for a better
            future.</h6>
    </div>

    <div class="normal_heading_box">
        <h6 class="language_heading">Learn Full Rust from freeCodeCamp</h6>
        <h6 class="language_para"> Learn Rust Programming - Complete Course 🦀 In this comprehensive Rust course for
            beginners, you will learn about the core concepts of the language and underlying mechanisms in theory.</h6>
        <div class="youtube_video"><iframe src="https://www.youtube.com/embed/BpPEoZW5IiY?si=9uTauxE1pEfhr4nG"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe> </div>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full Rust from Blockchain Wala</h6>
        <h6 class="language_para">What is Rust language | How Rust is better than other languages | Rust Tutorial 2023
            in Hindi</h6>
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/wXTIPlpvxlg?si=NjAQpacFeIuLFaY8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>

    <div class="normal_heading_box">
        <h6 class="same_heading">Learn Full Rust from Derek Banas
        </h6>
        <h6 class="language_para">Rust Tutorial Full Course
        </h6>
        <div class="youtube_video"> <iframe src="https://www.youtube.com/embed/ygL_xcavzQ4?si=PBqDXbdGOlm1LT9c"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></div>
    </div>


    <div class="normal_heading_box">
        <h6 class="same_heading">Here Are Some Paid Course Also, </h6>
        <img src="https://www.udemy.com/frontends-marketplace-experience/staticx/udemy/images/v7/logo-udemy.svg" alt=""
            class="big_icons">
        <h6 class="same_heading"><a href="https://www.udemy.com/course/rust-programming-the-complete-guide/">The
                Complete Rust Programming Course</a></h6>
    </div>

    <div class="normal_heading_box">
        <img src="https://www.rust-lang.org/static/images/rust-logo-blk.svg" alt="" class="big_icons">
        <h6 class="language_heading">Learn Rust</h6>
        <h6 class="same_heading"><a href="https://doc.rust-lang.org/book/title-page.html">Get started with Rust
            </a></h6>
    </div>


    <div class="normal_heading_box">
        <h5 class="same_heading">So What Can I Do After Rust ?</h5>
        <img src="https://cdn-icons-png.flaticon.com/128/1819/1819928.png" alt="" class="big_icons">
        <li>
            <h6 class="same_heading">Systems Programmer : </h6>
            <h6 class="language_para">Rust is well-suited for systems programming. You can work on low-level programming
                tasks, building operating systems, device drivers, or firmware.
            </h6>
        </li>
        <li>
            <h6 class="same_heading">Backend Developer : </h6>
            <h6 class="language_para"> Rust can be used for backend development, especially in performance-critical
                applications such as web servers, where its memory safety and performance are advantageous.</h6>
        </li>
        <li>
            <h6 class="same_heading">Embedded Systems Developer : </h6>
            <h6 class="language_para">Rust's emphasis on safety and low-level control makes it suitable for embedded
                systems programming, including IoT devices and robotics.

            </h6>
        </li>
        <li>
            <h6 class="same_heading">Blockchain Developer : </h6>
            <h6 class="language_para">Rust is used in blockchain development due to its performance and security
                features. You could work on blockchain protocols, smart contracts, or decentralized applications
                (dApps).</h6>
        </li>
        <li>
            <h6 class="same_heading">Game Development : </h6>
            <h6 class="language_para">Rust, particularly through engines like Amethyst, is gaining traction in the game
                development community due to its performance and safety features.
            </h6>
        </li>
        <li>
            <h6 class="same_heading">Security Researcher/Engineer : </h6>
            <h6 class="language_para">Rust's focus on memory safety can be beneficial in security-related roles, such as
                working on secure systems, vulnerability analysis, or developing secure applications.</h6>
        </li>
        <li>
            <h6 class="language_para">The average package for specific roles in advanced Rust-related jobs can vary
                based on factors like experience, location, industry, and job responsibilities. However, experienced
                Rust developers can expect a salary ranging from INR 8 to 25 lakhs per annum or more, depending on the
                complexity of the role and the company.</h6>
        </li>
    </div>




    <script src="/js/script1.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>